@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&display=swap');
:root {
    --fg-col: #333333;
    --bg-col: #e6e6e6;
    --fg2-col: #5D4954;
}

::selection {
    color: var(--bg-col);
    background: var(--fg2-col);
}

html {
    font-family: 'DM Sans', sans-serif;
    font-size: 75%;
    background-color: var(--bg-col);
    color: var(--fg-col);
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
}