:root {
    --margin: 6.66rem;
    --pad: 3.33rem;
}

body {
    display: flex;
}

.hgap {
    flex-grow: 2;
    max-width: var(--margin);
}

.vcontainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: var(--pad);
    padding-bottom: var(--pad);
}

.list {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.entry-tags {
    display: flex;
    max-width: 10rem;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: flex-start;
}

.border {
    border-bottom: 0.333rem solid var(--fg-col);
}

.border-thin {
    border-bottom: 0.111rem solid var(--fg-col);
}

.tag {
    border: solid var(--fg-col) 0.1rem;
    border-radius: 0.5rem;
    padding: 0.25rem;
}

.entry-title {
    font-weight: bold;
    font-size: 5rem;
    user-select: none;
    transition: color 0.2s, background-color 0.2s;
}

.entry-title:hover {
    color: var(--bg-col);
    background-color: var(--fg2-col);
}

a {
    transition: color 0.25s, background-color 0.25s;
    user-select: none;
}

a:hover {
    color: var(--bg-col);
    background-color: var(--fg2-col);
}

.back {
    display: flex;
    gap: 0.25rem;
}

@media only screen and (max-width: 900px) {
    .list {
        grid-template-columns: auto auto 1fr auto;
    }
    .entry-title {
        font-size: 3rem;
    }
    .hgap {
        min-width: 1rem;
    }
}