.vcontainer {
    padding-top: var(--pad);
    padding-bottom: var(--pad);
}

.list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 1rem;
}

.border {
    border-bottom: 0.333rem solid var(--fg-col);
}

.border-thin {
    border-bottom: 0.111rem solid var(--fg-col);
}

.entry-title {
    font-weight: bold;
    font-size: 2rem;
    user-select: none;
    transition: color 0.2s, background-color 0.2s;
}

.entry-title:hover {
    color: var(--bg-col);
    background-color: var(--fg2-col);
}

a {
    transition: color 0.25s, background-color 0.25s;
    user-select: none;
}

a:hover {
    color: var(--bg-col);
    background-color: var(--fg2-col);
}

.title-container {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--bg-col);
}

.title-container > a {
    padding: 0.5rem;
}

.entry-body {
    font-style: italic;
}

@media only screen and (max-width: 1000px) {
    .list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
    }
    .entry-tags {
        width: 100%;
    }
    .border-dissappear {
        display: none;
    }
}