:root {
  --margin: 6.66rem;
}
body {
  display: flex;
}
.hgap {
  flex-grow: 2;
  max-width: var(--margin);
}
.vcontainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.gap {
  flex-grow: 2;
  max-height: var(--margin);
}
.container {
  display: grid;
  grid-template-columns: auto 13.32rem;
  grid-template-rows: auto auto 1fr auto;
  max-width: 66.6rem;
  flex-grow: 1;
}
.year {
  grid-row: 1/1;
  grid-column: 2/2;
  font-size: 1.5rem;
  font-weight: bold;
}
.descr {
  grid-row: 2/2;
  grid-column: 2/2;
  width: 100%;
}
.descr p {
  padding: 0;
  margin: 0;
}
.border-ele {
  border-top: 0.333rem solid;
  border-bottom: 0.083rem solid;
  width: 100%;
  height: 100%;
}
.name {
  grid-row: 2/2;
  grid-column: 1/1;
  font-size: 2.5rem;
  text-transform: lowercase;
}
.nav {
  grid-row: 3/3;
  grid-column: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-btn {
  font-size: 12rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: color 0.125s, padding 0.5s;
}
.nav-btn:link, .nav-btn:visited {
  color: inherit;
}
.nav-btn:hover {
  color: var(--fg2-col);
  padding-left: 1rem;
}
footer {
  grid-row: 4/4;
  grid-column: 1 / span 2;
  display: flex;
  gap: 1rem;
}
.link-btn {
  border-top: 0.333rem solid;
  flex-grow: 1;
  text-align: center;
  transition: color 0.5s, border 0.5s, background-color 0.5s;
}
.link-btn:hover {
  background-color: var(--fg-col);
  color: var(--bg-col);
  border-top: 0.333rem solid var(--fg-col);
}