<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/base.css" />
  <link rel="stylesheet" href="/css/index.css" />
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>A. Haliq - $title$</title>
</head>

<body>
  <div class="hgap"></div>
  <div class="vcontainer">
    <div class="vgap"></div>
    <div class="container">
      <div class="year">
        SG$year$
      </div>
      <div class="descr border-ele">
        $body$
      </div>
      <div class="name border-ele">
        $name$
      </div>
      <div class="nav">
        <a href="/blog/index.html" class="nav-btn">blog,</a>
        <a href="/about.html" class="nav-btn">about,</a>
        <a href="/cv.html" class="nav-btn">résumé.</a>
      </div>
      <footer>
        <a href="https://www.linkedin.com/in/ahaliq/" target="_blank" class="link-btn">linkedin</a>
        <a href="https://github.com/AHaliq" target="_blank" class="link-btn">github</a>
        <a href="" target="_blank" class="link-btn">medium</a>
      </footer>
    </div>
    <div class="vgap"></div>
  </div>
  <div class="hgap"></div>
</body>

</html>